<?xml version="1.0"?>
<robot name="ur5e_mlp3240" xmlns:xacro="http://www.ros.org/wiki/xacro">


<xacro:include filename="$(find mlp3240_description)/urdf/mlp3240_macro.xacro" />
<xacro:include filename="$(find ur_e_description)/urdf/ur5e_macro.xacro" />

<!-- create the robot + ee as a macro -->
<xacro:macro name="ur5e_mlp3240" params="prefix">

	<!-- instantiate UR5 and mlp3240 gripper -->
	<xacro:ur5e_robot prefix="${prefix}"  joint_limited="true"/>
	<xacro:mlp3240 prefix="${prefix}" />
	
	<link name="world" />

	<!-- attach robot to world -->
	<joint name="world_joint" type="fixed">
	  <parent link="world" />
	  <child link = "base_link" />
	  <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
	</joint>

	<!-- attach gripper to robot-->
	<joint name="${prefix}robot_to_gripper" type="fixed">
	    <parent link="${prefix}tool0"/>
	    <child link="${prefix}base_link_gripper" />
	    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
	</joint>
	
	<!-- Add a fake link for proper IK -->
	<link name="ee_tool"/>
	<joint name="ee_link_to_ee_tool" type="fixed">
	      <origin xyz="0.105 0 0" rpy="0 0 0"/>
	      <parent link="ee_link"/>
	      <child link="ee_tool"/>
	</joint>

</xacro:macro>

<xacro:ur5e_mlp3240 prefix=""/>
  
    
    
</robot>
