<?xml version="1.0"?>
<robot name="ur5e_mlp3240" xmlns:xacro="http://www.ros.org/wiki/xacro">


<xacro:include filename="$(find mlp3240_description)/urdf/mlp3240_macro.xacro" />
<xacro:include filename="$(find ur_e_description)/urdf/ur5e_macro.xacro" />

<!-- create the robot + ee as a macro -->
<xacro:macro name="ur5e_mlp3240" params="prefix">

	<!-- instantiate UR5 and mlp3240 gripper -->
	<xacro:ur5e_robot prefix="${prefix}"  joint_limited="true"/>
	<xacro:mlp3240 prefix="${prefix}" />
	
	<link name="world" />

	<!-- attach robot to world -->
	<joint name="world_joint" type="fixed">
	  <parent link="world" />
	  <child link = "base_link" />
	  <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
	</joint>

	<!-- attach gripper to robot-->
	<joint name="${prefix}robot_to_gripper" type="fixed">
	    <parent link="${prefix}tool0"/>
	    <child link="${prefix}base_link_gripper" />
	    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
	</joint>
	
	<!-- Add a fake link for proper IK -->
	<link name="ee_tool"/>
	<joint name="ee_link_to_ee_tool" type="fixed">
	      <origin xyz="0.007 0 0" rpy="0 0 0"/>
	      <parent link="ee_link"/>
	      <child link="ee_tool"/>
	</joint>

</xacro:macro>

<xacro:ur5e_mlp3240 prefix=""/>

	<!-- to properly work on Gazebo -->

    <gazebo>
  	<plugin name="gazebo_grasp_fix" filename="libgazebo_grasp_fix.so">
	  	<arm>
	  		<arm_name>robot</arm_name>
	  		<palm_link>wrist_3_link</palm_link>
	      	<gripper_link>finger1</gripper_link>
	      	<gripper_link>finger2</gripper_link>
	  	</arm>
  	<forces_angle_tolerance>100</forces_angle_tolerance>
  	<update_rate>10</update_rate>
  	<grip_count_threshold>1</grip_count_threshold>
  	<max_grip_count>5</max_grip_count>
  	<release_tolerance>0.005</release_tolerance>
  	<disable_collisions_on_attach>true</disable_collisions_on_attach>
  	<contact_topic>__default_topic__</contact_topic>
  	</plugin>
    </gazebo>	
  
    <gazebo>
	  <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so" />
    </gazebo>
    
</robot>
